<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head">
    <!--  헤드 공간  -->
</head>
<body>
<!--  상단바 공간  -->
<header th:replace="layout :: nav"></header>
<div class="d-flex py-4 bg-body-tertiary main">
    <div class="container my-5">
        <!-- 메뉴 기능 -->
        <div class="hstack gap-0">
            <div class="p-2 ms-auto">
                <a class="btn btn-warning me-2" th:href="@{/books/signup}">
                    <i class="bi bi-person-fill-add"></i>
                </a>
            </div>
            <div class="p-2">
                <a class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#loanModal">
                    <i class="bi bi-book-half"></i>
                </a>
            </div>
            <div class="p-2">
                <a class="btn btn-warning me-2" th:href="@{/books/add}">
                    <i class="bi bi-plus-circle-fill"></i>
                </a>
            </div>
        </div>
        <!-- 게시글 목록 -->
        <table class="table" style="table-layout: fixed">
            <thead>
            <tr>
                <th style="width:5%">#</th>
                <th style="width:5%"></th>
                <th style="width:30%">제목</th>
                <th style="width:15%">작가</th>
                <th style="width:10%">언어</th>
                <th style="width:15%">출판사</th>
                <th style="width:20%">등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${paging}">
                <td th:text="${book.id}"></td>


                <td ><span class="badge" th:classappend="${book.loanable}? 'text-bg-success' : 'text-bg-danger'" th:text="${book.loanable}? '가능' : '불가'"></span> </td>
                <td ><a th:href="@{|/books/detail/${book.id}|}" th:text="${book.title}"></a></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.language}"></td>
                <td th:text="${book.publisher}"></td>
                <td th:text="${#temporals.format(book.registDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
        <!-- 페이지네이션 -->
        <nav th:if="${!paging.isEmpty()}" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link"  href="javascript:void(0)" th:data-page="${paging.number-1}" >
                        <span>Previous</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:classappend="${page == paging.number} ? 'active'"
                    class="page-item">
                    <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                        <span>Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<form th:action="@{/books}" method="get" id="searchForm">
    <input type="hidden" id="page" name="page" th:value="${paging.number}">
</form>

<!-- 대출 목록 조회 모달 -->
<div class="modal fade" id="loanModal" tabindex="-1" aria-labelledby="loanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 80vw;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loanModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 검색창 -->
                <div class="row align-items-center">
                    <div class="col">
                        <div class="input-group p-2" style="max-width:300px;">
                            <input type="text" class="form-control" id="searchLoan" placeholder="Search" >
                            <button class="btn btn-secondary" type="button" id="btn_search" onclick="searchLoan()"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="loanSwitch">
                            <label class="form-check-label" for="loanSwitch">반납한 도서 제외하기</label>
                        </div>
                    </div>
                </div>

                <!-- 결과창 -->
                <div>
                    <table class="table" style="table-layout: fixed">
                        <thead>
                        <tr>
                            <th style="width:10%">이름</th>
                            <th style="width:20%">전화번호</th>
                            <th style="width:20%">제목</th>
                            <th style="width:20%">저자</th>
                            <th style="width:15%">대출일</th>
                            <th style="width:15%">반납일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- AJAX 성공 후 데이터가 여기에 추가됩니다 -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- 목록-->
<div class="b-example-divider"></div>
<!-- footer -->
<div th:replace="layout :: footer"></div>

<script>
    // 페이지네이션 버튼 기능
    const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });

    // 스위치 상태에 따른 대출 내역 검색
    $('#loanSwitch').change(function() {
        searchLoan();
    });

    // 사용자 대출 내역 목록
    function searchLoan() {
        let id = $('#searchLoan').val();

        // 대출 내역 조건 설정
        let sort = $('#loanSwitch').is(':checked'); // 스위치가 켜져 있으면 true, 꺼져 있으면 false

        $.ajax({
            url: '[[@{/books/loan}]]', // 요기에
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify({
                'id': id,
                'sort': sort
            }),
            success: function(response) {
                // 응답 결과를 처리하여 모달 내부에 표시
                let tableBody = $('#loanModal .table tbody');
                tableBody.empty(); // 기존 내용을 지움
                if (response.length > 0) {
                    response.forEach(function(loan) {
                        // 날짜값 포맷 변경
                        let loanDate = new Date(loan.loanDate).toLocaleString('en-GB', {
                            year: 'numeric',
                            month: '2-digit',
                            day: '2-digit',
                        });
                        // 날짜값 포맷 변경
                        let returnDate = loan.returnDate
                            ? new Date(loan.returnDate).toLocaleString('en-GB', {
                                year: 'numeric',
                                month: '2-digit',
                                day: '2-digit',
                        }) : '';
                        let url = '/books/detail/' + loan.bookid;
                        // 테이블 값 추가
                        let row = `<tr style="font-size: 80%;">
                            <td>${loan.membername}</td>
                            <td>${loan.memberphone}</td>
                            <td><a href=${url}>${loan.bookTitle}</a></td>
                            <td>${loan.bookahthor}</td>
                            <td>${loanDate}</td>
                            <td>${returnDate}</td>
                        </tr>`;
                        tableBody.append(row);
                    });
                } else { // 데이터가 하나도 없을 경우
                    let row = `<tr><td colspan="5">No booksLoans found.</td></tr>`;
                    tableBody.append(row);
                }
            },
            error: function(xhr, status) {
                alert(xhr + " : " + status);
            }
        });
    }

    searchLoan();
</script>

<!--common script -->
<th:block th:replace="layout :: scripts"></th:block>
</body>

</html>