<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head">
    <!--  헤드 공간  -->
</head>
<body>
<!--  상단바 공간  -->
<header th:replace="layout :: nav"></header>
<div class="d-flex py-4 bg-body-tertiary main" style="position:relative;">
    <div class="container my-5">
        <div class="col">
            <!-- 뒤로가기 버튼-->
            <a type="button" href="/books" class="btn" style="font-size: 18px; position:absolute; top:2%; left:1%">
                <i class="bi bi-backspace-fill"></i>
            </a>
            <h1 class="p-2 display-5 link-body-emphasis mb-1" id="bookTitle"></h1>
            <hr>
            <div class="hstack gap-3">
                <p class="p-2 blog-post-meta" id="bookAuthor"></p>
                <p class="p-2 blog-post-meta" id="bookLanguage"></p>
                <p class="p-2 blog-post-meta" id="bookPublisher"></p>
                <p class="p-2 blog-post-meta" id="bookRegistDate"></p>
            </div>
            <!-- 대출과 반납 버튼 -->
            <a class="btn btn-warning me-2" id="loanButton" onclick="checkID(this);"></a>
        </div>
    </div>
</div>

<!-- 목록-->
<div class="b-example-divider"></div>
<!-- footer -->
<div th:replace="layout :: footer"></div>
<script src="/js/books.js" type="text/javascript"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        book_id = /*[[${id}]]*/ null;
        getBook();
    });
</script>
<!--common script -->
<th:block th:replace="layout :: scripts"></th:block>
</body>

</html>