<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head">
    <!--  헤드 공간  -->
</head>
<body>
<!--  상단바 공간  -->
<header th:replace="layout :: nav"></header>

<div class="d-flex align-items-center py-4 bg-body-tertiary" style="position:relative;">
    <div class="container my-5">
        <button type="button" onclick="javascript:history.back()" class="btn" style="font-size: 18px; position:absolute; top:2%; left:1%"><i class="bi bi-backspace-fill"></i></button>
        <div class="col">
            <h1 class="display-5 link-body-emphasis mb-1" th:text="${post.title}"></h1><br>
            <div class="row">
                <p class="blog-post-meta" th:text="${#temporals.format(post.date, 'yyyy-MM-dd HH:mm')}"></p>
                <h4 th:text="${post.user.username}"></h4>
            </div>
            <hr>
            <p th:text="${post.text}"></p>
            <hr>
            <a class="btn btn-warning me-2" sec:authorize="isAuthenticated()" th:classappend="${#authentication.getPrincipal().getUsername() == post.user.username} ? '' : 'disabled'" th:href="@{|/posts/edit/${post.id}|}">Edit</a>
            <a class="btn btn-warning me-2 delete" sec:authorize="isAuthenticated()" th:classappend="${#authentication.getPrincipal().getUsername() == post.user.username} ? '' : 'disabled'" th:data-uri="@{|/posts/delete/${post.id}|}"  onclick="checkDelete(this);">Delete</a>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="layout :: footer"></div>

<!--common script -->
<th:block th:replace="layout :: scripts"></th:block>
<script type='text/javascript'>
    function checkDelete(e){
        if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = e.dataset.uri;
        };
    }
</script>
</body>

</html>