<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head">
    <!--  헤드 공간  -->
</head>
<body>
<!--  상단바 공간  -->
<header th:replace="layout :: nav"></header>
<div class="d-flex py-4 bg-body-tertiary main" style="position:relative;">
    <div class="container my-5">
        <div class="col">
            <a type="button" th:href="@{/posts}" class="btn" style="font-size: 18px; position:absolute; top:2%; left:1%"><i class="bi bi-backspace-fill"></i></a>
            <div class="hstack gap-3">
                <h1 class="p-2 display-5 link-body-emphasis mb-1" th:text="${post.title}"></h1><br>
                <p class="p-2 blog-post-meta" th:text="${#temporals.format(post.date, 'yyyy-MM-dd HH:mm')}"></p>
            </div>
            <h4 th:text="${post.writer}"></h4>
            <hr>
            <div style="width:100%; word-break:break-all;">
                <p th:text="${post.text}" style="width:100%; white-space: normal;"></p>
            </div>
            <hr>
            <a class="btn btn-warning me-2" th:data-uri="@{|/posts/edit/${post.id}|}" onclick="checkPassword(this);">Edit</a>
            <a class="btn btn-warning me-2 delete" th:data-uri="@{|/posts/delete/${post.id}|}"  onclick="checkPassword(this);">Delete</a>
        </div>
    </div>
</div>


<!-- footer -->
<div th:replace="layout :: footer"></div>

<!--common script -->
<th:block th:replace="layout :: scripts"></th:block>
<script type='text/javascript'>
    function checkPassword(e){
        var input = prompt("Password");
        if(input == [[${post.password}]]){
            location.href = e.dataset.uri;
        }else{
            alert("잘못된 비밀번호입니다.")
        }
    }
</script>
</body>

</html>