<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <!--  헤드 공간  -->
</head>
<body>
<!--  상단바 공간  -->
<header th:replace="layout :: nav"></header>

<div class="d-flex align-items-center py-4 bg-body-tertiary main">
    <div class="form-signin w-100 m-auto">
        <form th:object="${postWriteForm}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <div class="mb-3">
                <input type="text" th:field="*{title}" class="form-control" placeholder="Title">
            </div>
            <div class="mb-3">
                <textarea th:field="*{text}" class="form-control" row="5"></textarea>
            </div>
            <button type="submit" class="btn btn-danger" style="width:100%">Post!</button>
        </form>
    </div>
</div>
<!-- footer -->
<div th:replace="layout :: footer"></div>

<!--common script -->
<th:block th:replace="layout :: scripts"></th:block>
</body>

</html>