<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head">
    <!--  헤드 공간  -->
</head>
<body>
<!--  상단바 공간  -->
<header th:replace="layout :: nav"></header>
<div class="d-flex py-4 bg-body-tertiary main" style="position:relative;">
    <div class="container my-5">
        <div class="col">
            <!-- 뒤로가기 버튼-->
            <a type="button" th:href="@{/backoffice/main}" class="btn" style="font-size: 18px; position:absolute; top:2%; left:1%"><i class="bi bi-backspace-fill me-2"></i>List</a>
            <div class="hstack gap-3">
                <h1 class="p-2 display-5 link-body-emphasis mb-1" th:text="${lecture.title}"></h1>
                <span class="badge text-bg-info">Lecture</span>
                <div class="p-1 ">
                    <a class="btn btn-secondary me-2" onclick="callEditModal()"><i class="bi bi-pencil-square"></i></a>
                </div>
                <div class="p-1 ">
                    <a class="btn btn-secondary me-2" onclick="deleteLecture()"><i class="bi bi-trash3"></i></a>
                </div>
            </div>
            <hr>
            <div class="hstack gap-3">
                <p class="p-2 blog-post-meta" th:text="${lecture.price}"></p>
                <p class="p-2 blog-post-meta" th:text="${lecture.category}"></p>
                <p class="p-2 blog-post-meta" th:text="${lecture.teacher.name}"></p>
                <p class="p-2 blog-post-meta" th:text="${#temporals.format(lecture.regist, 'yyyy-MM-dd')}"></p>
            </div>
            <p class="p-2 blog-post-meta" th:text="${lecture.introduction}"></p>
        </div>
    </div>
</div>
<!-- 수정 모달 -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editLectureForm" class="needs-validation" method="POST" novalidate>
                    <!-- 강의명 -->
                    <div class="mb-3 row">
                        <label for="editLecture_title" class="form-label">강의명</label>
                        <div class="col">
                            <input type="text" id="editLecture_title" name="editLecture_title" class="form-control" th:value="${lecture.title}" required >
                        </div>
                    </div>
                    <!-- 가격 -->
                    <div class="mb-3 row">
                        <label for="editLecture_price" class="form-label">가격</label>
                        <div class="col">
                            <input type="text" id="editLecture_price" name="editLecture_price" class="form-control"  maxlength="20" oninput="maxLengthCheck(this)" th:value="${lecture.price}" required>
                        </div>
                    </div>
                    <!-- 소개 -->
                    <div class="mb-3">
                        <label for="editLecture_introduction" class="form-label">소개</label>
                        <textarea type="text" id="editLecture_introduction" name="editLecture_introduction" class="form-control" th:text="${lecture.introduction}" required></textarea>
                    </div>
                    <!-- 카테고리 -->
                    <div class="mb-3">
                        <label for="editLecture_category" class="form-label">카테고리</label>
                        <select id="editLecture_category" name="editLecture_category" class="form-control" required>
                            <option value="">...</option>
                            <option value="Spring" th:selected="${lecture.category == 'Spring'}">Spring</option>
                            <option value="React" th:selected="${lecture.category == 'React'}">React</option>
                            <option value="Node" th:selected="${lecture.category == 'Node'}">Node</option>
                        </select>
                    </div>
                    <!-- 강사 -->
                    <div class="mb-3">
                        <label for="editLecture_teacher" class="form-label">강사</label>
                        <select id="editLecture_teacher" name="editLecture_teacher" class="form-control" required>
                            <option value="">...</option>
                            <option th:each="teacher : ${teachers}" th:value="${teacher.id}" th:text="${teacher.name}" th:selected="${lecture.teacher.id == teacher.id}"></option>
                        </select>
                    </div>
                </form>
                <button class="btn btn-danger" style="width:100%" onclick="editLecture()">Add</button>
            </div>
        </div>
    </div>
</div>


<!-- 목록-->
<div class="b-example-divider"></div>
<!-- footer -->
<div th:replace="layout :: footer"></div>
<script th:inline="javascript">
    function deleteLecture() {
        if (checkRole()) {
            if(confirm('삭제하시겠습니까?')){
                $.ajax({
                    url: '/backoffice/api/lecture/[[${lecture.id}]]/delete',
                    type: 'POST',
                    contentType: "application/json",
                    success: function (response) {
                        alert('강의가 삭제되었습니다.');
                        window.location.href = '/backoffice/main';
                    },
                    error: function (xhr, status) {
                        alert(xhr + " : " + status);
                    }
                });
            }
        }
    }

    function callEditModal() {
        if (checkRole()) {
            let myModal = new bootstrap.Modal(document.getElementById('editModal'), {
                keyboard: false
            });
            myModal.show();
        }
    }
    function editLecture() {
        var form = document.getElementById('editLectureForm');
        // 폼 유효성 검사
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        } else {
            let title = $('#editLecture_title').val();
            let price = $('#editLecture_price').val();
            let introduction = $('#editLecture_introduction').val();
            let category = $('#editLecture_category').val();
            let teacher_id = $('#editLecture_teacher').val();

            $.ajax({
                url: '/backoffice/api/lecture/[[${lecture.id}]]/edit',
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify({
                    'title': title,
                    'price': price,
                    'introduction': introduction,
                    'category': category,
                    'teacher_id': teacher_id
                }),
                success: function (response) {
                    alert('강의가 수정되었습니다.');
                    location.href = location.href;
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.responseText;
                    alert(errorMessage);
                }
            });
         }
        form.classList.add('was-validated');
    }
</script>
<!--common script -->
<th:block th:replace="layout :: scripts"></th:block>
</body>

</html>