<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <!--  헤드 공간  -->
</head>
<style>
    .menu-container {
        width: 100%;
        height: 600px; /* Set the height of the menu container */
        border: 1px solid #ccc;
        overflow-y: auto; /* Enable vertical scrolling */
    }

    .vertical-menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .vertical-menu li {
        background-color: #f1f1f1;
        margin-bottom: 1px;
    }

    .vertical-menu li a {
        display: block;
        color: black;
        padding: 8px 16px;
        text-decoration: none;
    }

    .vertical-menu li a:hover {
        background-color: #555;
        color: white;
    }
</style>
<body>
<!--  상단바 공간  -->
<header th:replace="layout :: nav"></header>
<div class="d-flex py-4 bg-body-tertiary main">
    <div class="container my-5">

        <div class="row" style="height:600px">
            <div class="col-3">
                <div class="menu-container">
                    <ul class="vertical-menu">
                        <li th:each="teacher : ${teachers}">
                            <a th:text="${teacher.name}"> </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-9" style="height:600px">
                <!-- 메뉴 항목 -->
                <div class="hstack gap-0">
                    <div class="form-check form-check-inline m-1">
                        <input class="form-check-input category" type="radio" name="radioSpring" id="radioSpring" th:data-category="${category == 'Spring' ? '' : 'Spring'}" th:checked="${category == 'Spring'}">
                        <label class="form-check-label" for="radioSpring">Spring</label>
                    </div>
                    <div class="form-check form-check-inline m-1">
                        <input class="form-check-input category" type="radio" name="radioReact" id="radioReact" th:data-category="${category == 'React' ? '' : 'React'}" th:checked="${category == 'React'}">
                        <label class="form-check-label" for="radioSpring">React</label>
                    </div>
                    <div class="form-check form-check-inline m-1">
                        <input class="form-check-input category" type="radio" name="radioNode" id="radioNode" th:data-category="${category == 'Node' ? '' : 'Node'}" th:checked="${category == 'Node'}">
                        <label class="form-check-label" for="radioNode">Node</label>
                    </div>

                    <div class="p-1 ms-auto">
                        <span class="badge" th:classappend="${user.role.name()} == 'MANAGER' ? 'text-bg-success' : 'text-bg-warning'" th:text="${user.role}"></span>
                    </div>
                    <div class="p-1 ">
                        <a class="btn btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#addTeacherModal"><i class="bi bi-plus"></i><i class="bi bi-file-earmark-person"></i></a>
                    </div>
                    <div class="p-1 ">
                        <a class="btn btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#addLectureModal"><i class="bi bi-plus"></i><i class="bi bi-easel3-fill"></i></a>
                    </div>
                    <div class="p-1 ">
                        <a class="btn btn-secondary me-2" onclick="logout()"><i class="bi bi-box-arrow-left"></i></a>
                    </div>
                    <div class="p-1 ">
                        <a class="btn btn-secondary me-2" th:href="@{/books/edit}"><i class="bi bi-gear-fill"></i></a>
                    </div>
                </div>
                <!-- 게시글 목록 -->
                <table class="table" style="table-layout: fixed">
                    <thead>
                    <tr>
                        <th style="width:25%">제목</th>
                        <th style="width:10%">가격</th>
                        <th style="width:20%">강사</th>
                        <th style="width:10%">카테고리</th>
                        <th style="width:15%">등록일</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="lecture : ${paging}">
                            <td th:text="${lecture.title}"></td>
                            <td th:text="${lecture.price}"></td>
                            <td th:text="${lecture.teacher.name}"></td>
                            <td th:text="${lecture.category}"></td>
                            <td th:text="${#temporals.format(lecture.regist, 'yyyy-MM-dd')}"></td>
                        </tr>
                    </tbody>
                </table>
                <!-- 페이지네이션 -->
                <nav th:if="${!paging.isEmpty()}" aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                            <a class="page-link"  href="javascript:void(0)" th:data-page="${paging.number-1}" >
                                <span>Previous</span>
                            </a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                            th:if="${page >= paging.number-5 and page <= paging.number+5}"
                            th:classappend="${page == paging.number} ? 'active'"
                            class="page-item">
                            <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
                        </li>
                        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                            <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                                <span>Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- 강사 추가 모달 -->
<div class="modal fade" id="addTeacherModal" tabindex="-1" aria-labelledby="addTeacherModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addTeacherModalLabel">Signup</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addTeacherForm" class="needs-validation" method="POST" novalidate>
                    <div class="mb-3 row">
                        <!-- 이름 -->
                        <div>
                            <label for="addTeacher_name" class="form-label">이름</label>
                            <div class="col">
                                <input type="text" id="addTeacher_name" name="addTeacher_name" class="form-control" required>
                            </div>
                        </div>
                        <!-- 경력 -->
                        <div>
                            <label for="addTeacher_year" class="form-label">경력</label>
                            <div class="col">
                                <input type="text" id="addTeacher_year" name="addTeacher_year" class="form-control" maxlength="3" oninput="maxLengthCheck(this)" required>
                            </div>
                        </div>
                    </div>
                    <!-- 회사 -->
                    <div class="mb-3">
                        <label for="addTeacher_company" class="form-label">회사</label>
                        <input type="text" id="addTeacher_company" name="addTeacher_company" class="form-control" required>
                    </div>
                    <!-- 전화번호 -->
                    <div class="mb-3 row">
                        <label for="addTeacher_phone1" class="form-label">Phone</label>
                        <div class="col">
                            <input type="text" id="addTeacher_phone1" name="addTeacher_phone1" class="form-control" maxlength="3" oninput="maxLengthCheck(this)" required>
                        </div>
                        <div class="col">
                            <input type="text" id="addTeacher_phone2" name="addTeacher_phone2" class="form-control" maxlength="4" oninput="maxLengthCheck(this)" required>
                        </div>
                        <div class="col">
                            <input type="text" id="addTeacher_phone3" name="addTeacher_phone3" class="form-control" maxlength="4" oninput="maxLengthCheck(this)" required>
                        </div>
                    </div>
                    <!-- 소개 -->
                    <div class="mb-3">
                        <label for="addTeacher_introduction" class="form-label">소개</label>
                        <textarea type="text" id="addTeacher_introduction" name="addTeacher_introduction" class="form-control" required></textarea>
                    </div>
                </form>
                <button class="btn btn-danger" style="width:100%" onclick="addTeacher()">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- 강의 추가 모달 -->
<div class="modal fade" id="addLectureModal" tabindex="-1" aria-labelledby="addLectureModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addLectureModalLabel">New Lecture</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addLectureForm" class="needs-validation" method="POST" novalidate>
                    <!-- 강의명 -->
                    <div class="mb-3 row">
                        <label for="addLecture_title" class="form-label">강의명</label>
                        <div class="col">
                            <input type="text" id="addLecture_title" name="addLecture_title" class="form-control" required>
                        </div>
                    </div>
                    <!-- 가격 -->
                    <div class="mb-3 row">
                        <label for="addLecture_price" class="form-label">가격</label>
                        <div class="col">
                            <input type="text" id="addLecture_price" name="addLecture_price" class="form-control"  maxlength="20" oninput="maxLengthCheck(this)" required>
                        </div>
                    </div>
                    <!-- 소개 -->
                    <div class="mb-3">
                        <label for="addLecture_introduction" class="form-label">소개</label>
                        <textarea type="text" id="addLecture_introduction" name="addTeacher_introduction" class="form-control" required></textarea>
                    </div>
                    <!-- 카테고리 -->
                    <div class="mb-3">
                        <label for="addLecture_category" class="form-label">카테고리</label>
                        <select id="addLecture_category" name="addLecture_category" class="form-control" required>
                            <option value="">...</option>
                            <option value="Spring">Spring</option>
                            <option value="React">React</option>
                            <option value="Node">Node</option>
                        </select>
                    </div>
                    <!-- 강사 -->
                    <div class="mb-3">
                        <label for="addLecture_teacher" class="form-label">강사</label>
                        <select id="addLecture_teacher" name="addLecture_teacher" class="form-control" required>
                            <option value="">...</option>
                            <option th:each="teacher : ${teachers}" th:text="${teacher.name}" th:value="${teacher.id}"></option>
                        </select>
                    </div>
                </form>
                <button class="btn btn-danger" style="width:100%" onclick="addLecture()">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- 페이지네이션 -->
<form th:action="@{/backoffice/main}" method="get" id="searchForm">
    <input type="hidden" id="page" name="page" th:value="${paging.number}">
    <input type="hidden" id="category" name="category" th:value="${category}">
</form>

<!-- footer -->
<div th:replace="layout :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<!-- Swiper 초기화 코드 -->
<script>
    function logout() {
        if(confirm("로그아웃 하시겠습니까?")){
            Cookies.remove('Authorization', { path: '/' });
            location.href = location.href;
        }
    }

    // 도서 추가 요청
    function addTeacher() {
        // Bootstrap 입력 검사 기능
        var form = document.getElementById('addTeacherForm');
        // 폼 유효성 검사
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        } else { // 유효성 검사를 통과한 경우에만 AJAX 요청을 보냄
            let name = $('#addTeacher_name').val();
            let year = $('#addTeacher_year').val();
            let company = $('#addTeacher_company').val();
            let phone = $('#addTeacher_phone1').val() + $('#addTeacher_phone2').val() + $('#addTeacher_phone3').val();
            let introduction = $('#addTeacher_introduction').val();

            // ajax 요청
            $.ajax({
                url: '/backoffice/api/addTeacher',
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify({
                    'name': name,
                    'year': year,
                    'company': company,
                    'phone': phone,
                    'introduction': introduction
                }),
                success: function (response) {
                    alert('강사가 추가되었습니다.');
                    location.href = location.href;
                },
                error: function (xhr, status, error) {
                   var errorMessage = xhr.responseText;
                    alert(errorMessage);
                }
            });
        }
        // 유효성 검사가 완료된 후 폼에 'was-validated' 클래스를 추가하여 부트스트랩의 시각적 피드백을 활성화
        form.classList.add('was-validated');
    }

        // 도서 추가 요청
    function addLecture() {
        // Bootstrap 입력 검사 기능
        var form = document.getElementById('addLectureForm');
        // 폼 유효성 검사
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        } else { // 유효성 검사를 통과한 경우에만 AJAX 요청을 보냄
            let title = $('#addLecture_title').val();
            let price = $('#addLecture_price').val();
            let introduction = $('#addLecture_introduction').val();
            let category = $('#addLecture_category').val();
            let teacher_id = $('#addLecture_teacher').val();

            // ajax 요청
            $.ajax({
                url: '/backoffice/api/addLecture',
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify({
                    'title': title,
                    'price': price,
                    'introduction': introduction,
                    'category': category,
                    'teacher_id': teacher_id
                }),
                success: function (response) {
                    alert('강의가 추가되었습니다.');
                    location.href = location.href;
                },
                error: function (xhr, status, error) {
                   var errorMessage = xhr.responseText;
                    alert(errorMessage);
                }
            });
        }
        // 유효성 검사가 완료된 후 폼에 'was-validated' 클래스를 추가하여 부트스트랩의 시각적 피드백을 활성화
        form.classList.add('was-validated');
    }

    function maxLengthCheck(object) {
        if (object.value.length > object.maxLength) {
            object.value = object.value.slice(0, object.maxLength); // 최대 길이를 초과한 부분을 잘라냅니다.
        } else if (!/^\d+$/.test(object.value)) {
            object.value = object.value.replace(/[^\d]/g, ''); // 숫자 이외의 입력을 제거합니다.
        }
    }

    // 페이지네이션 버튼 기능
    const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });

    // 카테고리 조회 기능
    const category_elements = document.getElementsByClassName("category");
    Array.from(category_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('category').value = this.dataset.category ? this.dataset.category : '';
            document.getElementById('page').value = '0';
            document.getElementById('searchForm').submit();
        });
    });
</script>
<!--common script -->
<th:block th:replace="layout :: scripts"></th:block>
</body>

</html>